<div id="mini-player" style="display: flex;">
    <audio id="audio-player" controls>
        Your browser does not support the audio element.
    </audio>
    <div id="player-info" style="display: flex;">
        <p id="track-title"></p>
        <p id="track-creator"></p>
        <p id="track-style"></p>
    </div>
</div>

<script src="~/js/musicPlayer.js"></script>