@{
    ViewBag.Title = "Аккаунт";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<div>
    <a asp-controller="Auth" asp-action="Logout">Выход из аккаунта</a>
</div>

<div>
    <a asp-controller="User" asp-action="AddTrack">>Добавить трек</a>
</div>

<div>
    <a asp-controller="User" asp-action="UserPersonalTracks">>Ваши загруженные треки</a>
</div>

<div>
    <a asp-controller="User" asp-action="UserLikedTracks">>Понравившиеся треки</a>
</div>