@{
    ViewBag.Title = "Аккаунт";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<div>
    <a asp-controller="Auth" asp-action="Logout">Выход из аккаунта</a>
</div>

<div>
    <a asp-controller="User" asp-action="AddTrack">>Добавить трек</a>
</div>

<div>
    <a asp-controller="User" asp-action="UserUploadedTracks">>Ваши загруженные треки</a>
</div>

<div>
    <a asp-controller="User" asp-action="UserLikedTracks">>Понравившиеся треки</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('a[href="/logout"]').addEventListener("click", function (event) {
            sessionStorage.clear();
        });
    });
</script>