@model MainApp.DTO.Music.NewMusicTrackModelDTO
@{
    ViewBag.Title = "Добавить трек";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<style>
    #progressWrapper {
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    #progressBar {
        height: 100%;
        background-color: #007bff;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-action="AddTrack" asp-controller="User">
    <div>
        <label asp-for="Title">Название трека:</label>
        <input type="text" id="title" asp-for="Title">

        <label asp-for="Style">Стиль:</label>
        <select asp-for="Style" asp-items="ViewBag.Styles"></select>
    </div>
    <div>
        <label asp-for="Mp3File">Выберите файл MP3:</label>
        <input type="file" asp-for="Mp3File" accept=".mp3">
    </div>
    <div id="progressWrapper" style="display: none;">
        <div id="progressBar"></div>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>
</form>

<script>
    document.getElementById('mp3File').addEventListener('change', function (event) {
        var file = event.target.files[0]; // Получаем файл из события изменения input

        // Показываем индикатор загрузки
        document.getElementById('progressWrapper').style.display = 'block';

        // Создаем объект FileReader для чтения содержимого файла
        var reader = new FileReader();

        // Событие, вызываемое при чтении файла
        reader.onload = function (event) {
            // Здесь вы можете выполнить дополнительные действия с содержимым файла,
            // например, отобразить его содержимое или выполнить обработку.

            // Для примера, выводим информацию о файле в консоль
            console.log('Имя файла:', file.name);
            console.log('Тип файла:', file.type);
            console.log('Размер файла:', file.size, 'байт');

            // Скрываем индикатор загрузки после загрузки файла
            document.getElementById('progressWrapper').style.display = 'none';
        };

        // Читаем содержимое файла как URL-адрес данных (Data URL)
        reader.readAsDataURL(file);
    });
</script>