@model MainApp.DTO.Music.NewMusicTrackModelDTO
@{
    ViewBag.Title = "Добавить трек";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<form method="post" enctype="multipart/form-data" asp-action="AddTrack" asp-controller="User">
    <div>
        <label asp-for="Title">Название трека:</label>
        <input type="text" id="title" asp-for="Title" required>

        <label asp-for="StyleId">Стиль:</label>
        <select asp-for="StyleId" asp-items="ViewBag.Styles"></select>
    </div>
    <div>
        <label asp-for="TrackImage">Выберите изображение обложки трека:</label>
        <input type="file" asp-for="TrackImage" accept="image/png, image/jpeg">
    </div>
    <div>
        <label asp-for="Mp3File">Выберите файл MP3:</label>
        <input type="file" asp-for="Mp3File" accept=".mp3" required>
    </div>
    <div id="progressWrapper" style="display: none;">
        <div id="progressBar"></div>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>
</form>