@{
    ViewBag.Title = "Панель управления контентом";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<style>
    .first {
        display: flex;
        flex-direction: row;
    }
</style>

<button id="loadUsersBtn">Список пользователей</button>

<div id="apiData">
</div>

<script src="~/js/crewApi.js"></script>