@{
    ViewBag.Title = "Панель управления контентом";
    Layout = "/Views/Layout/MainLayout.cshtml";

    var rolesJson = Json.Serialize(ViewBag.Roles);
}

<style>
    .first {
        display: flex;
        flex-direction: row;
    }
</style>

@if (ViewBag.Roles.Contains("Moderator")) 
{
    <button id="loadMusicBtn">Список музыкальных треков</button>
    <script src="~/js/musicManage.js"></script>

    <button id="loadUsersBtn">Список пользователей</button>
    <script type="text/javascript">
        window.Roles = @Html.Raw(rolesJson);
    </script>
    <script src="~/js/userManage.js"></script>
}

@if (ViewBag.Roles.Contains("Admin"))
{
    <button id="loadCrewBtn">Список сотрудников</button>

    <script src="~/js/crewManage.js"></script>
}

<div id="apiData">
</div>