@{
    ViewBag.Title = "Панель управления контентом";
    Layout = "/Views/Layout/MainLayout.cshtml";
}

<style>
    .first {
        display: flex;
        flex-direction: row;
    }
</style>

@if (ViewBag.Roles.Contains("Moderator")) 
{
    <button id="loadUsersBtn">Список пользователей</button>

    <script src="~/js/moderApi.js"></script>
    <script>
            document.getElementById('loadUsersBtn').addEventListener('click', function () {
            // Получаем роли
            var roles = @Html.Raw(Json.Serialize(ViewBag.Roles));

            fetch('/api/crew/user')
                .then(response => response.json())
                .then(data => {
                    const apiDataDiv = document.getElementById('apiData');
                    apiDataDiv.innerHTML = '';

                    Promise.all(data.map(user => {
                        const userDiv = document.createElement('div');
                        userDiv.setAttribute('id', user.id);
                        userDiv.setAttribute('class', 'first');
                        apiDataDiv.appendChild(userDiv);

                        const userNameDiv = document.createElement('div');
                        userNameDiv.innerHTML = `${user.userName}`;
                        userDiv.appendChild(userNameDiv);

                        return fetch(`/api/crew/user/ban/${user.id}`)
                            .then(response => response.json())
                            .then(ban => {
                                if (!ban) {
                                    return fetch(`/api/crew/user/warn/${user.id}`)
                                        .then(response => response.json())
                                        .then(warns => {
                                            const userWarn = document.createElement('button');
                                            userWarn.textContent = `Warn (${warns}/3)`;
                                            userWarn.addEventListener('click', () => {
                                                addWarnToUser(user.id);
                                            });
                                            userDiv.appendChild(userWarn);

                                            const userBan = document.createElement('button');
                                            userBan.textContent = "Ban";
                                            userBan.addEventListener('click', () => {
                                                addBanToUser(user.id);
                                            });
                                            userDiv.appendChild(userBan);

                                            if (roles.includes("Admin")) {
                                                const userAddModer = document.createElement('button');
                                                userAddModer.textContent = "Made moder";
                                                userAddModer.addEventListener('click', () => {
                                                    madeModerFromUser(user.id);
                                                });
                                                userDiv.appendChild(userAddModer);
                                            }
                                        });
                                } else {
                                    const userBan = document.createElement('button');
                                    userBan.textContent = "Unban";
                                    userBan.addEventListener('click', () => {
                                        unBanUser(user.id);
                                    });
                                    userDiv.appendChild(userBan);
                                }
                            });
                    })).catch(error => console.error('Ошибка: ', error));
                }).catch(error => console.error('Ошибка: ', error));
        });
    </script>
}

@if (ViewBag.Roles.Contains("Admin"))
{
    <button id="loadCrewBtn">Список сотрудников</button>

    <script src="~/js/adminApi.js"></script>
}

<div id="apiData">
</div>